.vertical-center{
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
}
h1, h3{
    margin:24px 0;
}
.chat-top{
    margin-top: 40px;
}
.scrollable-content{
    height: 20em;
    overflow: auto;
}
.message p{
    margin: 6px 0;
}