.vertical-center{
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
}
h1, h3{
    margin:24px 0;
}
.chat-top{
    margin-top: 40px;
}
.scrollable-content{
    height: 20em;
    overflow-y: auto;
    overflow-wrap: break-word;
}
.message{
    border-radius: 25px;
    margin: 5px 0;
    box-shadow: -1px 2px 0px #D4D4D4;
}
.message p{
    margin: 6px 0;
}